<a href="https://colab.research.google.com/github/daveeedu/github-Me/blob/main/WEEKLY_ML_CODECLUB_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [5]:
url1 = 'https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv?raw=true'
geo_country_code_data = pd.read_csv(url1, error_bad_lines=False)
print(geo_country_code_data)

       country g77_and_oecd_countries  ... world_4region             world_6region
0         abkh                 others  ...        europe       europe_central_asia
1          abw                 others  ...      americas                   america
2          afg                    g77  ...          asia                south_asia
3          ago                    g77  ...        africa        sub_saharan_africa
4          aia                 others  ...      americas                   america
..         ...                    ...  ...           ...                       ...
268  yem_south                 others  ...          asia  middle_east_north_africa
269        yug                 others  ...        europe       europe_central_asia
270        zaf                    g77  ...        africa        sub_saharan_africa
271        zmb                    g77  ...        africa        sub_saharan_africa
272        zwe                    g77  ...        africa        sub_saharan_africa

[273 rows x 21 columns]

In [6]:
url2 = 'https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/population1.csv?raw=true'
population_data = pd.read_csv(url2, error_bad_lines=False)
print(population_data)

           Country  year  population
0      Afghanistan  1800     3280000
1      Afghanistan  1801     3280000
2      Afghanistan  1802     3280000
3      Afghanistan  1803     3280000
4      Afghanistan  1804     3280000
...            ...   ...         ...
58690     Zimbabwe  2096    30900000
58691     Zimbabwe  2097    31000000
58692     Zimbabwe  2098    31000000
58693     Zimbabwe  2099    31000000
58694     Zimbabwe  2100    31000000

[58695 rows x 3 columns]

In [7]:
url3 = 'https://raw.githubusercontent.com/zalihat/cell_phone_dataset/master/cell_phones.csv?raw=true'
cell_phones_data = pd.read_csv(url3, error_bad_lines=False)
print(cell_phones_data)

           Country  year  cell_phones_total
0      Afghanistan  1960                0.0
1      Afghanistan  1961                0.0
2      Afghanistan  1962                0.0
3      Afghanistan  1963                0.0
4      Afghanistan  1964                0.0
...            ...   ...                ...
11635     Zimbabwe  2015         12800000.0
11636     Zimbabwe  2016         12900000.0
11637     Zimbabwe  2017         14100000.0
11638     Zimbabwe  2018         12900000.0
11639     Zimbabwe  2019         13200000.0

[11640 rows x 3 columns]

In [8]:
population_cell_phones_data = pd.merge(population_data, cell_phones_data, how="inner")
print(population_cell_phones_data)

           Country  year  population  cell_phones_total
0      Afghanistan  1960     9000000                0.0
1      Afghanistan  1961     9170000                0.0
2      Afghanistan  1962     9350000                0.0
3      Afghanistan  1963     9540000                0.0
4      Afghanistan  1964     9740000                0.0
...            ...   ...         ...                ...
11635     Zimbabwe  2015    13800000         12800000.0
11636     Zimbabwe  2016    14000000         12900000.0
11637     Zimbabwe  2017    14200000         14100000.0
11638     Zimbabwe  2018    14400000         12900000.0
11639     Zimbabwe  2019    14600000         13200000.0

[11640 rows x 4 columns]

In [9]:
new_geo_country_code_data = geo_country_code_data.rename(columns=
                                                       {'country': 'geo',
                                                         'name': 'Country' })
new_geo_country_code_data[:2]

    geo g77_and_oecd_countries  ... world_4region        world_6region
0  abkh                 others  ...        europe  europe_central_asia
1   abw                 others  ...      americas              america

[2 rows x 21 columns]

In [10]:
geo_country_df = new_geo_country_code_data[['geo', 'Country']] 
print(geo_country_df)

           geo               Country
0         abkh              Abkhazia
1          abw                 Aruba
2          afg           Afghanistan
3          ago                Angola
4          aia              Anguilla
..         ...                   ...
268  yem_south  South Yemen (former)
269        yug            Yugoslavia
270        zaf          South Africa
271        zmb                Zambia
272        zwe              Zimbabwe

[273 rows x 2 columns]

In [11]:
merged_df = pd.merge(population_cell_phones_data, geo_country_df, how="inner")
print(merged_df)

           Country  year  population  cell_phones_total  geo
0      Afghanistan  1960     9000000                0.0  afg
1      Afghanistan  1961     9170000                0.0  afg
2      Afghanistan  1962     9350000                0.0  afg
3      Afghanistan  1963     9540000                0.0  afg
4      Afghanistan  1964     9740000                0.0  afg
...            ...   ...         ...                ...  ...
11635     Zimbabwe  2015    13800000         12800000.0  zwe
11636     Zimbabwe  2016    14000000         12900000.0  zwe
11637     Zimbabwe  2017    14200000         14100000.0  zwe
11638     Zimbabwe  2018    14400000         12900000.0  zwe
11639     Zimbabwe  2019    14600000         13200000.0  zwe

[11640 rows x 5 columns]

In [12]:
merged_df['cell_per_pers']= merged_df['cell_phones_total'] / merged_df['population']
print(merged_df)

           Country  year  population  cell_phones_total  geo  cell_per_pers
0      Afghanistan  1960     9000000                0.0  afg       0.000000
1      Afghanistan  1961     9170000                0.0  afg       0.000000
2      Afghanistan  1962     9350000                0.0  afg       0.000000
3      Afghanistan  1963     9540000                0.0  afg       0.000000
4      Afghanistan  1964     9740000                0.0  afg       0.000000
...            ...   ...         ...                ...  ...            ...
11635     Zimbabwe  2015    13800000         12800000.0  zwe       0.927536
11636     Zimbabwe  2016    14000000         12900000.0  zwe       0.921429
11637     Zimbabwe  2017    14200000         14100000.0  zwe       0.992958
11638     Zimbabwe  2018    14400000         12900000.0  zwe       0.895833
11639     Zimbabwe  2019    14600000         13200000.0  zwe       0.904110

[11640 rows x 6 columns]

In [13]:
merged_df[:11160]

             Country  year  population  cell_phones_total  geo  cell_per_pers
0        Afghanistan  1960     9000000                0.0  afg       0.000000
1        Afghanistan  1961     9170000                0.0  afg       0.000000
2        Afghanistan  1962     9350000                0.0  afg       0.000000
3        Afghanistan  1963     9540000                0.0  afg       0.000000
4        Afghanistan  1964     9740000                0.0  afg       0.000000
...              ...   ...         ...                ...  ...            ...
11155  United States  2015   321000000        382000000.0  usa       1.190031
11156  United States  2016   323000000        396000000.0  usa       1.226006
11157  United States  2017   325000000        400000000.0  usa       1.230769
11158  United States  2018   327000000        422000000.0  usa       1.290520
11159  United States  2019   329000000                0.0  usa       0.000000

[11160 rows x 6 columns]

In [14]:
merged_df['geo'].str.upper()

0        AFG
1        AFG
2        AFG
3        AFG
4        AFG
        ...
11635    ZWE
11636    ZWE
11637    ZWE
11638    ZWE
11639    ZWE
Name: geo, Length: 11640, dtype: object

In [15]:
merged_df2 = merged_df[['year','Country','cell_phones_total']]
print(merged_df2)

       year      Country  cell_phones_total
0      1960  Afghanistan                0.0
1      1961  Afghanistan                0.0
2      1962  Afghanistan                0.0
3      1963  Afghanistan                0.0
4      1964  Afghanistan                0.0
...     ...          ...                ...
11635  2015     Zimbabwe         12800000.0
11636  2016     Zimbabwe         12900000.0
11637  2017     Zimbabwe         14100000.0
11638  2018     Zimbabwe         12900000.0
11639  2019     Zimbabwe         13200000.0

[11640 rows x 3 columns]

In [16]:
df = merged_df2.set_index('year')
print(df)

          Country  cell_phones_total
year
1960  Afghanistan                0.0
1961  Afghanistan                0.0
1962  Afghanistan                0.0
1963  Afghanistan                0.0
1964  Afghanistan                0.0
...           ...                ...
2015     Zimbabwe         12800000.0
2016     Zimbabwe         12900000.0
2017     Zimbabwe         14100000.0
2018     Zimbabwe         12900000.0
2019     Zimbabwe         13200000.0

[11640 rows x 2 columns]

In [17]:
df2 = df.loc[[2017]]
print(df2)

          Country  cell_phones_total
year
2017  Afghanistan         23900000.0
2017      Albania          3630000.0
2017      Algeria         45800000.0
2017      Andorra            80300.0
2017       Angola         13300000.0
...           ...                ...
2017    Venezuela         24500000.0
2017      Vietnam        120000000.0
2017        Yemen         15400000.0
2017       Zambia         13400000.0
2017     Zimbabwe         14100000.0

[194 rows x 2 columns]

In [18]:
df2.nlargest(5, 'cell_phones_total').sort_values(by='Country')

            Country  cell_phones_total
year
2017          China       1.470000e+09
2017          India       1.170000e+09
2017      Indonesia       4.350000e+08
2017         Russia       2.270000e+08
2017  United States       4.000000e+08